.donut-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;

    .donut-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        .donut-image {
            width: 20%vw;
            height: 20%vh;
            object-fit: cover;
        }
    }
}